body {background-color: rgba(201, 76, 76, 0.3)}
#name { text-align: center;
    font-family: Fantasy;}
#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    }

a {
    position: relative;
    left: 45%;
    font-family: Sans-serif;
    font-size: 30px;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}

